* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Bronx;
    src: url(Bronx\ Bystreets\ 1.4\ c\ PERSONAL\ USE\ ONLY.ttf);
}

/* General styles */
body {
    background-color: #050404;
    color: #b7b2b2;
    font-family: 'Merriweather', serif;
    display: flex;
    justify-content: center;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    margin-bottom: 30px;
}

h1 {
    font-size: 32px;
    font-family: Bronx;
    color: #ad1f0f;
}

h2 {
    color: #7f1a0f;
    font-size: 22px;
}

h3 {
    color: #7f1a0f;
    font-size: 18px;
}

img {
    width: auto;
}

/* search bar layout */
input[type=text] {
    height: 50px;
    border: #ad1f0f 2px solid;
    border-radius: 5px;
    padding: 5px 5px 5px 40px;
    background-image: url(../img/search.svg);
    background-size: 30px 30px; 
    background-repeat: no-repeat;
    background-position: 5px
}

.movie-roster img {
    width: 250px;
    height: 320px;
}

.movie-info {
    width: 200px;
}

/* Flexbox */
.movie-roster {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    max-width: 1000px;
}

.movie-poster {
    display: flex;
    flex-direction: column;
}

.movies {
    padding: 5px;
    margin-bottom: 25px;
    display: flex;  
}

.location {
    display: flex;
    justify-content: center;
    flex-direction: row;
}


/* Smartphones */
@media only screen and (max-width: 576px) {
    h1 {
        width: 25px;
    }
    /* Expanding search bar */
    input[type=text] {
        width: 50px;
        transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
        width: 150px;
    }

    img {
        max-width: 300px;
    }
/* google maps */
    .inline-location {
        width: 300px;
        height: 300px;
    }
/* show info on hover */
    .movie-info {
        display: none;
    }    
}

/* Tablets */
@media only screen and (min-width: 577px) and (max-width: 768px) {
    input[type=text] {
        width: 50px;
        transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
        width: 100%;
    }

    img {
        max-width: 600px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    input[type=text] {
        width: 250px;
    }
    
    img {
        max-width: 800px;
    }
    
.movie-roster {
    display: flex;
    flex-grow: 2;
}
}

@media only screen and (min-width: 993px) {
    input[type=text] {
        width: 250px;
    }

    img {
        max-width: 1000px;;
    }
}