* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Bronx;
    src: url(Bronx\ Bystreets\ 1.4\ c\ PERSONAL\ USE\ ONLY.ttf);
}

/* Flexbox */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie-roster {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    max-width: 1000px;
}

.movie-poster {
    display: flex;
    flex-direction: column;
}

.movies {
    padding: 2px 2px 2px 10px;
    margin-bottom: 25px;
    display: flex; 
}

.location {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 10px
}

/* Body and header styles */
body {
    background-color: #260000;
    color: #ffffff;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

header {
    margin-bottom: 30px;
}

header p {
    padding-left: 10px;
}

h1 {
    color: #FF3838;
    font-size: 46px;
    font-family: Bronx;
    padding: 5px 5px 0px 5px;
}

h2 {
    color: #A5A5A5;
    font-size: 32px;
}

h3 {
    display: inline;
    color: #A5A5A5;
    font-size: 22px;
    border-bottom: 2px solid #A5A5A5;
    border-radius: 5px;
}


/* search bar layout */
input[type=text] {
    height: 50px;
    border: #ad1f0f 2px solid;
    border-radius: 5px;
    padding: 5px 5px 5px 40px;
    background-image: url(../img/search.svg);
    background-size: 30px 30px; 
    background-repeat: no-repeat;
    background-position: 5px
}

/* Movie roster */
img {
    width: auto;
}

.movie-roster img {
    width: 240px;
    height: 320px;
}

.movie-info {
    width: 200px;
    padding-left: 5px;
}

button {
    width: auto;
    margin-top: 5px;
    font-size: 22px;
    height: 40px;
    background-color: #FF3838;
    border: none;
    color: #260000;
    border-radius: 10px;

}

button:hover {
    background-color: #000000;
    color: #A5A5A5;
}

/* Location and footer */
.inline-location {
    width: auto;
}

.fab {
    font-size: 42px;
    padding: 10px 10px 10px 20px;
    color: #FF3838;
}

.fab:hover {
    color: #A5A5A5;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* Smartphones */
@media only screen and (max-width: 576px) {
    h1 {
        width: 25px;
    }
    /* Expanding search bar on focus */
    input[type=text] {
        width: 50px;
    }

    input[type=text]:focus {
        width: 100px;
    }

    /* google maps */
    .inline-location {
        min-width: 250px;
        max-width: 500px;
    }

    /* hide movie info on smartphone */
    .movie-info {
        display: none;
    }    
}

/* Tablets */
@media only screen and (min-width: 577px) and (max-width: 768px) {
    input[type=text] {
        width: 50px;
    }

    input[type=text]:focus {
        width: 100%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    input[type=text] {
        width: 250px;

    }

    input[type=text]:focus {
        width: 100%;
    }
}    s 

@media only screen and (min-width: 993px) {
    input[type=text] {
        width: 250px;
    }
}